
<!-- Footer -->
<footer id="footer" class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Khlifi-group</h5>
          
          <p>Lebonbit (le "Site") est opéré par Khlifi-group Tunisia. Ces conditions d'utilisation (« Conditions d'Utilisation ») régissent votre utilisation du Site et du service de connexion de Khlifi-group (le « Service de Connexion »). Le service de connexion est fourni par Khlifi-group Products & Technology TN Ltd, qui est une société de Khlifi Group ( « nous ») et est utilisé dans les différents services (les « Services », chacun individuellement un « Service »). Bacem Khlifi est CEO de la société mère pour les entreprises au sein de Khlifi Group. </p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
         
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase" >Aide</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Politique relative au cookies</a>
            </li>
            <li>
              <a href="#!">Politique de Confidentialité</a>
            </li>
            <li>
              <a href="#!">Conditions d’Utilisation</a>
            </li>
            <li>
              <a href="#!">Contactez-nous</a>
            </li>
          </ul>
  
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://bacemkhlifi.netlify.app/"> bacemkhlifi.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

